body {
    background-color: black;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.dino {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 50px;
    bottom: 0;
}

.stone {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 90%;
    bottom: 0;
}

.road {
    border: 5px;
    border-color: aliceblue;
    border-style: solid;
    position: absolute;
    background-color: aqua;
    border-radius: 40px;
    
}